body{

    color: red;
}

/* @media (max-width: 500px) {
    body{
        color: blue;
    }
} */

/* @media (orientation: portrait){
    .title{
        color: yellow;
        background-color: black;
        text-align: center;
        padding: 5%;

    }
} */

.desktop, .mobile{
    display: none;
}

@media (orientation: landscape){
    .desktop{
        display: inline-block
    }
}

@media (orientation: portrait){
    .mobile{
        display:inline-block
    }
}