body{
  
    display: none;
}

@media (min-width: 600px) {
    body{
        color: black;
        background-color: white;
        display: inline-block;
    }
    .dark{
        display: none;
    }
    }
@media (max-width: 600px) {
        body{
            color: white;
            background-color: black;
            display: inline-block;
        }
        .light{
            display: none;
        }}